DBMAP_LAN_IP=
DBMAP_HTTPS_PORT=8443
DBMAP_PUBLIC_BASE_PATH=
DBMAP_ADMIN_TOKEN=
DBMAP_VIEWER_TOKEN=
DBMAP_OPA_DECISION_URL=https://opa:8181/v1/data/dbmap/authz/allow
DBMAP_MQTT_HUB_PASSWORD=
DBMAP_DYNSEC_ADMIN_PASSWORD=
DBMAP_ADVERTISED_MQTT_HOST=hub.local
DBMAP_ADVERTISED_MQTT_PORT=8883
